__pycache__
.project
.pydevproject
calcbench.egg-info/
dist/
_build/
*.egg-info/
build/
calcbench.ini
.vscode/settings.json
.vscode/launch.json
docs/html/_sources/index.rst.txt
docs/doctrees/environment.pickle
docs/doctrees/index.doctree
docs/html/.buildinfo
docs/html/objects.inv
