__pycache__
.project
.pydevproject
calcbench.egg-info/
dist/
_build/
*.egg-info/
build/
calcbench.ini
.vscode/settings.json
.vscode/launch.json
docs/html/_sources/*
docs/doctrees/environment.pickle
docs/html/.buildinfo
docs/html/objects.inv
docs/doctrees/*
.mypy_cache